<tr class="nested-fields">
  <td>
    <%= link_to_remove_association "remove task", f, class: 'btn btn-primary btn-xs' %>
  </td>
  <td><%= f.input :description, label: false %></td>
  <td><%= f.input :done, label: false %></td>
</tr>